.chat-popup {
    position: fixed;
    bottom: 100px;
    left: 20px;
    width: 320px;
    height: 430px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 9999;
}

.chat-header {
    background: #0f172a;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.chat-body {
    flex: 1;
    background: #f1f5f9;
    padding: 10px;
    overflow-y: auto;
}

.chat-input-area {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    background: white;
}

.chat-input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.send-btn {
    margin-left: 10px;
    background: #0f172a;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
}
